<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FAIR Search</title>

    <style>
    
        /* move to style.css*/
    
        .tt-suggestion, .tt-selectable {
            font-size: 18px !important;   
            padding-left: 20px;
            padding-right: 20px;
            background-color: #fefefe;
        }

        .tt-menu{
            border: 1px solid #efefef;  
        }
        
        span.twitter-typeahead {
            width: 100% !important;
        }
        
    </style>
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="style.css" ref="stylesheet">
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script-->
    <!--script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script-->
    
    <script src="https://code.angularjs.org/1.2.16/angular.js"></script>
    <script src="https://rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elasticsearch.angular.js"></script>
    <script src="https://rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elastic.js"></script>
    <script src="https://rawgit.com/YousefED/ElasticUI/master/dist/elasticui.min.js"></script>
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script src="localAngular.js"></script>
    
    <!-- only needed to instantiate client, if using angular remove -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticsearch/12.1.3/elasticsearch.js"></script>
    
	<script src="ahead.js"></script>
    <script src="configuration.js"></script>
    

   <script>
             
      var app =  angular
            .module('fair', ['elasticui', 'bootstrap3-typeahead'])
            .constant('euiHost', esbaseurl) // ACTION: change to cluster address
            .controller('searchController', ['$scope', function ($scope, $euIndex) {
                
                    $scope.querystring = "";
                    $scope.showResults = false;
                
                    $scope.currentSearch = null;
                    
                    $scope.updateSearch = function(doc){
                        $scope.currentSearch = doc;
                    }
                    
                    $scope.resetSearch = function(){
                        $scope.currentSearch = null;
                    }
                
                    $scope.updateCurrentSearch = function (newCurrentSearchObj) {
                        $scope.currentSearch = newCurrentSearchObj;
                    }
                    
                    $scope.displayText = function(item) {
                        return item.sagsNo
                    }
                    $scope.afterSelect = function(item) {
                      $scope.someId = item.id
                    }

                    
                     $scope.resultsView = function(){
                          console.log($scope.indexVM);                          
                     }
                     
                     $scope.resultsView2 = function(){
                         $scope.showResults = true;
                         console.log($scope);
                         console.log($scope.indexVM);
                     }
                    
                    console.log($scope);

                    
            }]);
       
  
		   (function($) {
		$.fn.getCursorPosition = function() {
			var input = this.get(0);
			if (!input) return; // No (input) element found
			if (document.selection) {
				// IE
			   input.focus();
			}
			return 'selectionStart' in input ? input.selectionStart:'' || Math.abs(document.selection.createRange().moveStart('character', -input.value.length));
		 }
	   })(jQuery);
		   
	   
       $(function() {
           
		   
		   $('#mainsearc').on('input',function(e){
			    cursorPosition = $('#mainsearc').getCursorPosition();
			    searchString = $('#mainsearc').val().substring(0, cursorPosition);
			    searchString = searchString + "{{CURS}}" +   $('#mainsearc').val().substring(cursorPosition);
			    lexicalAnalysis(searchString);
	   	   });
		   
		   var facade = {
			   	'fdp:':{'tag':'FDPurl', 'hint':'repositoryTitle.raw'},
			    'license:':{'tag':'distribution.licenseURI', 'hint':'distribution.licenseAcronym'},
			    'site:':{'tag':'FDPurl', 'hint':'repositoryTitle.raw'}
		   };
		   

		   
		   
           
            var substringMatcher = function(strs) {
              return function findMatches(q, cb) {
                var matches, substringRegex;

                  
                  
                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                  if (substrRegex.test(str)) {
                    matches.push(str);
                  }
                });

                cb(matches);
              }};
		   
		     
		   	 function findMatches2(q, strs){
				 
			    var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');
				substrRegexPrefix = new RegExp("fdp:"+q, 'i')
				//alert(q + " " + strs);
                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                  if (substrRegex.test(str) || substrRegexPrefix.test(str)) {
					  //alert("push"+str);
                    matches.push(str);
                  }
                });
				 
				 return matches;
				
			 }
		   
		      function containsPrefix(o, prefix){
						for( var k in o ) {
							if(k==prefix) return true;
						}
				  		return false;
			  }
		   
		   	  function getField(o, prefix){
				  for( var k in o ) {
					  		//alert(k);
					  		if(k==prefix)
								return o[k];
						}
				  return false;
			  }
		   
		     
           
           	  //improve (missing one result)
              var substringMatcher2 = function(strs) {
                  return function findMatches(q, cb, acb) {   
					    if(q[q.length-1]==":"){
						  		 var n = q.split(" ");
							
    							 if(containsPrefix(facade, n[n.length - 1])){
									 	field = getField(facade, n[n.length - 1]);
									 
									
									 	if(field.hasOwnProperty('tag')){
											searchField = field.tag;	
										} else {
											searchField = field;
										}
									 
									  	if(field.hasOwnProperty('hint')){
											searchHint = field.hint;
										    
											query = { "size": 0,
											     "aggregations": {
												    "fdp": {
												  	 "terms": {
												  		"field": searchField
												  	 },
													 "aggregations": {
														"fdp2": {
														 "terms": {
															"field": searchHint
														 }
														}
													 }
												  }
											   }
											};
									
										} else {
											   query = { "size": 0,
											   "aggregations": {
												  "fdp": {
													 "terms": {
														"field": searchField
													 }
												  }
											   }
											};
								
									 
										}
		
									 
									    console.log(field);
									 	console.log(query);
									 
									 	res = client.search({
											index: 'dataset',
											body: query
										}).then( function (body){
										   var matches = Array();
																			
										   for(i = 0; i < body.aggregations.fdp.buckets.length; i++ ){
											   console.log(body.aggregations.fdp.buckets[i].key);
											   matches.push( {'value':q + body.aggregations.fdp.buckets[i].key,                  'hint':body.aggregations.fdp.buckets[i].fdp2.buckets[0].key} ) ;
											   //alert(body.aggregations.fdp.buckets[i].fdp2.buckets[0].key);
											   //alert(body.aggregations.fdp.buckets[i].key);
										   }
										
										   console.log("end to display");  
										   //alert(matches);
										   //matches = ["fdp:a", "fdp:b"];
										   //matches.push("z"); matches.push("y");
										   //alert(matches[0].value);
										   acb(matches);
									   });
								 }
					  		} else {//startif
							
                      
                      res = client.suggest({
                        index: 'dataset',
                        body: ejs.CompletionSuggester('name_suggest')
                                  .text(q)
                                  .field('suggest')
                        }).then( function (body) {
                           //alert(JSON.stringify(body));
						   var matches = Array();
						   console.log("------");
						   console.log(q);
						   console.log(body);
						  
                           for(i = 0; i < body.name_suggest[0].options.length; i++){
                               console.log(body.name_suggest[0].options.length + " " +body.name_suggest[0].options[i].text);
                               matches[i] = body.name_suggest[0].options[i].text;
                           }
                           console.log("end to display");
						   //alert(q + " - " + facade);

						   //matchesPrefix = findMatches2(q, facade);
						   //matches = matchesPrefix.concat(matches);
						   //alert(cb + " " + matches);
						   //matches.map( s => { value : s } );
						   matchesToReturn = [];
						   for(i=0; i < matches.length; i++){
							   matchesToReturn.push( { 'value': matches[i] } );   
						   }
						 
						   acb(matchesToReturn);
						} );
								
						}//endif
              }};    

           //$('#mainsearc').typeahead({
		   $('#searchInput').typeahead({
                  hint: true,
                  highlight: true,
                  minLength: 1
                },
                {
                 source: substringMatcher2(),
			     //updater: function(suggestion) {return suggestion.value();},
			     displayKey: 'value',
			   	 templates: {
				      header: '<h4 class="league-name">Filter</h4>',
					  suggestion: function(data){
						  //if(typeof data === 'string'){
						  //	  return "<div>"+data+"</div>"; } else {
						   if(data.hasOwnProperty('hint')){
							  return '<div>'+data.value+' <span class="badge">'+data.hint+'</span></div>';
						  } else 
						  	  return '<div>'+data.value+'</div>';
					  }
  		         }
                }).bind('typeahead:select', function(ev, suggestion){
           				//capture and add to model
			   			//alert("ev"+ev+" "+suggestion);
			   			if(suggestion.value.indexOf(":") !== -1){			   	
			   				searchModel = SearchModel.getInstance();
			   				searchModel.addTag(suggestion.value);
						}
		   		});
		   
		   		var SearchModel = (function () {
				  // Instance stores a reference to the Singleton
				  var instance;
					
				  function init() {
					// Singleton
					// Private methods and variables
		

					function drawTags(){
						tagHtml =  "";
						searchInput = "";
						for(i=0; i<model.length; i++){
							
							console.log(model);
							//alert(model[i]);
							tagHtml += "<span class='badge'>"+model[i];
							//tagHtml += "<a href='javascript:SearchModel.getInstance().removeTag(\""+btoa(model[i])+"\")'>";
							tagHtml += "<a class='tagremoval' cid='"+btoa(model[i])+"' href='#'> ";
							tagHtml += "<span class='glyphicon glyphicon-remove-circle' aria-hidden='true'/></a></span>";
							
							str = $('#searchInput').val();
							str2 = str.replace(model[i], "");
						
							//workaround
							setTimeout(function(){ $('#searchInput').val(str2); }, 300);
							searchInput = searchInput + " " + model[i];
						}
						
						searchInput += " " + otherLexic.join(" ");
						
						$("#mainsearc").val(searchInput);
						$("#mainsearc").change();
						$("#tagInput").html(tagHtml);
					}
					  
					var model = []; 
					var otherLexic = [];
					  
					return {
					  test2: function(){ alert(); },	
					   
					  addTag: function(tag){
						model.push(tag)  
						drawTags();
					  },
					  removeTag: function(tag){
						var index = model.indexOf(atob(tag));
						model.splice(index, 1);
						drawTags();
					  },
					  setLexic: function(lexic){
						console.log(lexic);
						otherLexic = lexic;
						drawTags();
					  }
					};
				  };
				  return {
					// Get the Singleton instance if one exists
					// or create one if it doesn't
					getInstance: function () {
					  if ( !instance ) {
						instance = init();
					  }
					  return instance;
					}
				  };
				})();
		   
		
		
	    $("body").on('click','a.tagremoval',function(){
			cid = $(this).attr("cid");
			SearchModel.getInstance().removeTag(cid);
		});
		   
		$("#searchInput").on('input', function() {
  			lexic = lexicalAnalysis($("#searchInput").val());
			simpleLexic = lexic.filter( s => s.indexOf(":") !== -1 ? false : true );
			SearchModel.getInstance().setLexic( simpleLexic );
		});
		
		   
		function lexicalAnalysis(str){
			 lex = str.split(' ').map(s => s.trim()).filter(s => s.length);
			 return lex;
		}
		   
		//const Op = Symbol('term');
		//const Num = Symbol('num');
		const Term = Symbol('term');
		const TermCur = Symbol('termcursor');
		const PrefTerm = Symbol('prefixedterm');
		const PrefTermCur = Symbol('prefixedtermcur');
		   
		const parse = tokens => {

		  let c = 0;

		  const peek = () => tokens[c];
		  const consume = () => tokens[c++];

		  const parseNum = () => ({ val: parseInt(consume()), type: Num });

		  const parseOp = () => {
			const node = { val: consume(), type: Op, expr: [] };
			while (peek()) node.expr.push(parseExpr());
			return node;
		  };
			
		  const parseTerm = () => {
			 const node = { val: consume(), type: Term };
			 return node;
		  };
			
		  const parsePrefTerm = () => {
			  const node = { val: consume(), type: PrefTerm };
			  return node;
		  }
		  
		  const parsePrefTermCurs = () => {
			  const node = { val: consume(), type: PrefTermCur};
			  return node;
		  }
		  
		  
		  const parseTermCurs = () => {
			  const node = { val: consume(), type: TermCur};
			  return node;
		  }
		  
		  //improve by separating the operator from the term
		  const parseExpr = () => { // /\d/.test(peek()) ? parseNum() : parseOp();
		  		if(peek().startsWith("fdp:") && peek().includes("{{curs}}")) parsePrefTermCur(); else
				if(peek().startsWith("fdp:")) parsePrefTerm();
				if(peek().includes("{{curs}}")) parseTerm(); else parseTerm();
				
		  }

		  return parseExpr();
		};
		   
	    const interpret = ast => {
			const interpreteNode = ast => ast.value.startsWith("fdp:") ? interpretPrefix(ast) : interpretFreeText();
			const interpretPrefix = ast => alert();
			return interpretNode(ast)
		}
		   
		const transpile = ast => {
		  const opMap = { sum: '+', mul: '*', sub: '-', div: '/' };
		  const transpileNode = ast => ast.type === Num ? transpileNum(ast) : transpileOp(ast);
		  const transpileNum = ast => ast.val;
		  const transpileOp = ast => `(${ast.expr.map(transpileNode).join(' ' + opMap[ast.val] + ' ')})`;
		  return transpileNode(ast);
		};

		client = new elasticsearch.Client({
		  host: esbaseurl,
		  log: 'trace',
		  //apiVersion: 'mine'
		 });
       
        client.suggest({
          index: 'dataset',
          body: ejs.CompletionSuggester('name_suggest')
                  .text('x')
                  .field('suggest')
        }, function (error, response) {
          // console.log(error);
           //console.log(response);
        });
    
        client.search({
          index: 'myindex',
          body:  ejs.CompletionSuggester('test')
            //ejs.Request()
            //      .query(ejs.MatchQuery('title', 'test'))
            //      .facet(ejs.TermsFacet('tags').field('tags'))
        }, function (error, response) {
           //console.log(error);
           //console.log(response);
        });
		   
		   
	   });
		

       //console.log( ejs.CompletionSuggester('test').toJSON() );
       
    </script>
</head>

<body ng-app="fair" eui-index="'dataset'" ng-controller='searchController'>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-filter"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav" eui-aggregation="ejs.TermsAggregation('repositoryTitle.raw').field('repositoryTitle.raw').size(5)">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Menu</a>
            </li>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();><a href="submit/">Submit FDP</a></a>
            </li>
			<li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Dev options</a>
            </li>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();><a href="#collapse" data-target=".collapse" data-toggle="collapse">Turn on/off readability metrics</a></a>
            </li>
            <!--li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>   
            <li>
                <a href="#about" onclick=$("#menu-close").click();>About</a>
            </li-->
            <!--ul _class="nav nav-list" eui-aggregation="ejs.TermsAggregation('repositoryTitle.raw').field('repositoryTitle.raw').size(5)"-->
                <li ng-repeat="bucket in aggResult.buckets">
                        <label aclass="checkbox" eui-filter="ejs.TermsFilter(field, bucket.key)" style="color:white !important">
                         <input type="checkbox" ng-model="filter.enabled" > {{bucket.key | limitTo:10}} ({{bucket.doc_count}})
                        </label>
                </li>
            <!--/ul-->
            <eui-singleselect field="'repositoryTitle.raw'" size="5"></eui-singleselect>
            
            <eui-singleselect field="'catalogTitle.raw'" size="5"></eui-singleselect>
        </ul>
       
    </nav>

    <!-- Header -->
    <!-- header id="top" class="header" -->
       <header id="top" style="border: red 0px solid" class='header'>
         <div class="row" astyle="border: red 0px solid" id="hheader" ng-hide="showResults">
            <div class="row" style="border: red 0px solid">
                <div class="col-md-2" style="border: black 0px solid; margin-left: 10px;">                 
                    <!--h3>&nbsp;Search for FAIR data.</h3-->
                </div>
                <div class="form-group col-md-6" style="border: black 0px solid">
                    <div class="row textcenter" style="border: 0px solid red; padding-top: 20%">
                           <h1><img src="img/imgpsh_fullsize.png" width="180" style="margin:0 auto;"/></h1>                    
                    </div>
                    <!-- eui-searchbox field="'_all'"></eui-searchbox -->
                    <!--input type="text" class="form-control" id="text" placeholder="Input your search terms"-->
                </div>
            </div>
        </div>
	    <div class="row" astyle="border: red 0px solid">
            <div class="row" style="border: red 0px solid">
                <div class="col-md-2" style="border: black 0px solid; margin-left: 10px;">
                    <h1><img src="img/imgpsh_fullsize.png" width="180" ng-show="showResults"></h1>
                    <!--h3>&nbsp;Search for FAIR data.</h3-->
                </div>
                <div class="form-group col-md-6" style="border: black 0px solid">
                    <div class="row" style="border: 0px solid red; padding-top: 15px">
						<input class="form-control input-lg a_typeahead" id="searchInput" type="text" a_bs3-typeahead autocomplete="off">
                        <input class="form-control input-lg a_typeahead"  type="hidden" eui-query="ejs.MatchQuery('_all', querystring)" ng-model="querystring" eui-enabled="querystring.length" id="mainsearc"  ng-change="resultsView2()" /> {{querystring}}
                    </div>
					<div class="row">
                          <div class="col-md-12" id="tagInput" style="padding-top:10px; padding-bottom:10px;">
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-md-2">
                            <eui-checklist field="'_source.repositoryTitle'" size="10"></eui-checklist>
                          </div>
                         <div class="col-md-2">
                            <eui-singleselect field="'distribution.format'" size="5"></eui-singleselect>
                         </div>
                          <div class="col-md-2">
                            <eui-singleselect field="'distribution.licenseAcronym'" size="5"></eui-singleselect>
                         </div>
                    </div>
                    
                    <!-- eui-searchbox field="'_all'"></eui-searchbox -->
                    <!--input type="text" class="form-control" id="text" placeholder="Input your search terms"-->
                </div>
            </div>
        </div>
        </header>
        
        <div class="row" style="border: red 0px solid" ng-init="countr = 10"  ng-show="showResults">
            <div class="form-group col-md-6 col-md-offset-2">
                    <div class="list-group">
                        <div ng-repeat="doc in indexVM.results.hits.hits" class="list-group-item" ng-mouseover="updateSearch(doc)" ng-mouseout="resetSearch()">
                            <!--{{doc._source | json | limitTo: 500}} OPTIONAL: display more meaningful data instead of json -->
                            <h4 class="list-group-item-heading" ng-mouseover="countr = countr+1"><a href="{{doc._source.landingPage}}">{{doc._source.title}}</a> <!--a href="#"  title="Hooray!" data-toggle="modal" data-target="#readabilityIndexModal"><i class="fa fa-font fa-fw" aria-hidden="true"></i></a--></h4>
                            <p class="list-group-item-text">{{doc._source.description | limitTo:400}}</p>
                            <div class="small top-buffer" style="margin-top: 10px;">
                                <div class="btn-toolbar" role="toolbar">
                                    <a  ng-repeat="distribution in doc._source.distribution" class="btn btn-primary btn-xs" href="{{distribution.accessURL}}{{distribution.download}}">{{distribution.title}}  ({{distribution.format}} / {{distribution.downloadHumanReadableSize}} / <span class="label label-default">{{distribution.licenseAcronym}}</span>)</a>
                                </div>
                            </div>

                            <ol class="breadcrumb top-buffer" style="margin-top: 10px;">
                                <li><a href="{{doc._source.FDPurl}}">{{doc._source.repositoryTitle}}</a> </li>
                                <li><a href="{{doc._source.catalogURL}}">{{doc._source.catalogTitle}}</a></li>
                                <li>Distribution <!--a href="" class="btn btn-primary btn-xs" href="{{distribution.accessURL}}{{distribution.download}}">xxx</a-->
                                  <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                  </button>
                                      <ul class="dropdown-menu">
                                        <!--li ng-repeat="distribution in doc._source.distribution"><a href="{{distribution.distributionURL}}">{{distribution.distributionURL}}</a></li-->
                                        <li ng-repeat="distribution in doc._source.distribution"><a href="{{distribution.distributionURI}}">{{distribution.title}} <b>({{distribution.format}})</b></a></li>
                                      </ul>
                                   </div>
                                </li>
                            </ol>
                                <!--span>              
                                  <ul ng-repeat="distribution in doc._source.distribution">
                                      <li><a href="{{distribution.distributionURL}}">{{distribution.distributionURL}}</a></li>
                                  </ul>
                                </span-->
						<!-- Modal -->
						<div class="collapse readabilityCollapse" did="readabilityIndexCollapse" id="collapse">
								<a href="http://en.wikipedia.org/wiki/Automated_Readability_Index">ARI:</a> {{doc._source.readabilityMetrics.ARI}}<br/>
								<a href="http://en.wikipedia.org/wiki/Coleman-Liau_Index">ColemanLiau:</a> {{doc._source.readabilityMetrics.ColemanLiau}}<br/>
								Complex: {{doc._source.readabilityMetrics.Complex}}<br/>
								<a href="http://en.wikipedia.org/wiki/Flesch-Kincaid_Readability_Test">FleschKincaidGradeLevel:</a> {{doc._source.readabilityMetrics.FleschKincaidGradeLevel}}<br/>
								<a href="http://en.wikipedia.org/wiki/Flesch-Kincaid_Readability_Test">FleschReadingEase:</a> {{doc._source.readabilityMetrics.FleschReadingEase}}<br/>
								<a href="http://en.wikipedia.org/wiki/Gunning-Fog_Index">GunningFog:</a> {{doc._source.readabilityMetrics.GunningFog}}<br/>
								<a href="http://en.wikipedia.org/wiki/SMOG">SMOG:</a> {{doc._source.readabilityMetrics.SMOG}}<br/>
								<a href="http://en.wikipedia.org/wiki/SMOG_Index">SMOGIndex:</a> {{doc._source.readabilityMetrics.SMOGIndex}}<br/>
						</div>
						<!--/Modal -->
						<!-- Modal -->
						<div class="modal fade" id="readabilityIndexModal" tabindex="-1" role="dialog" aria-labelledby="readabilityIndexModal">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Readability index</h4>
							  </div>
							  <div class="modal-body">
								<a href="http://en.wikipedia.org/wiki/Automated_Readability_Index">ARI:</a> {{doc._source.readabilityMetrics.ARI}}<br/>
								<a href="http://en.wikipedia.org/wiki/Coleman-Liau_Index">ColemanLiau:</a> {{doc._source.readabilityMetrics.ColemanLiau}}<br/>
								Complex: {{doc._source.readabilityMetrics.Complex}}<br/>
								<a href="http://en.wikipedia.org/wiki/Flesch-Kincaid_Readability_Test">FleschKincaidGradeLevel:</a> {{doc._source.readabilityMetrics.FleschKincaidGradeLevel}}<br/>
								<a href="http://en.wikipedia.org/wiki/Flesch-Kincaid_Readability_Test">FleschReadingEase:</a> {{doc._source.readabilityMetrics.FleschReadingEase}}<br/>
								<a href="http://en.wikipedia.org/wiki/Gunning-Fog_Index">GunningFog:</a> {{doc._source.readabilityMetrics.GunningFog}}<br/>
								<a href="http://en.wikipedia.org/wiki/SMOG">SMOG:</a> {{doc._source.readabilityMetrics.SMOG}}<br/>
								<a href="http://en.wikipedia.org/wiki/SMOG_Index">SMOGIndex:</a> {{doc._source.readabilityMetrics.SMOGIndex}}<br/>
							  </div>
							</div>
						  </div>
						</div>
						<!--/Modal -->
						
						</div></div>
				

								
                    <eui-simple-paging></eui-simple-paging>
            </div>
            <div class="col-md-2" ng-mouseover="countr = countr+1" style="border: 0px solid red;" ng-show="currentSearch!=null">
            <img src="http://www.robothumb.com/src/http://{{currentSearch._source.landingPage}}@160x120">
            <br/>
            <h3>{{currentSearch._source.catalogTitle}}</h3>
                <div ng-repeat="taxonomyURI in currentSearch._source.taxonomyList"><span class="badge">{{taxonomyURI}}</span></div>
            </div> 
	    </div>
    <!--/header-->



    

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>
    
    <script>
        //alert('scope'+$scope);
    </script>
    <small?>V0.12</small?>
</body>

</html>
